[2017-07-23 08:34] jonrz opened #1 "Create list of repeated questions for surveys."
Place in wiki under "surveys".

[2017-07-23 08:34] jonrz opened #2 "Create and organize Wiki"

[2017-07-28 18:32] jonrz opened #3 "Review J4 Backend"
Add list of users

[2017-08-06 02:11] jonrz opened #4 "Overhaul the admin main menu"
Rework the admin main menu, focusing on new information architecture and layout.

[2017-08-06 02:15] jonrz opened #5 "New article edit screen"
Review and organize a new edit screen.

Focus on:
- Information architecture
- Progressive disclosure
- Concatenation of options into cascaded options
- reducing the number of tabs

[2017-08-06 02:19] jonrz opened #6 "New modules position system"
Overhaul the modules position system to a more visual approach.

Almost all new users are confused by the module positions, and not every template developer or integrator will publish a positions map.

The new system should be able to parse the template and present the module map visually, in a simple way (like a wireframe).

Note: We are not attempting to do a Page Builder thing here.

[2017-08-06 02:26] jonrz opened #7 "Helper Component"
We must offer our new users a new way of learning Joomla, one that will allow them to *learn on the job*, so to speak.

The Helper component is a *chained tasks system* that will allow users to achieve complex goals that are composed of several simpler tasks (such as composing a frontpage), in a chained, sequential way.

Check the draft at the following document:
https://drive.google.com/open?id=1

[2017-08-06 06:27] jonrz opened #8 "Prepare JUX Team onboarding docs and videos."
Create onboarding documentation, so new contributors and members can integrate and start working quickly and efficiently.

Create welcome videos to explain the Team GitHub, Google Drive, and our internal processes.

[2017-08-06 06:34] jonrz commented on #3
![github_labels](https://user-images.githubusercontent.com/25874295/29001186-0d846e94-7a58-11e7-926c-77c83af8a5ec.jpg)

[2017-08-06 06:36] jonrz commented on #3
[J4 - Report.pdf](https://github.com/joomla/joomla-ux/files/1202925/J4.-.Report.pdf)

[2017-08-06 06:52] jonrz opened #9 "Prepare and populate the JUX GitHub page at jux.space"
Our documentation GitHub page is [jux.space](http://jux.space)

Sub-tasks:
- [ ] Prepare the site layout
- [ ] Populate with current documentation
- [ ] Add remaining docs
- [ ] Make documentation up-to-date
- [ ] Add videos
- [ ] Add onboarding docs

[2017-08-07 14:35] jonrz opened #10 "Split Article text area in two (teaser/body). Liason with DEV."
In order to make Joomla easier to understand by new users, and by users coming from other CMS (especially WP), we need to split the Article text area in two fields, one for the teaser, one for the body.

Currently, such implementation is unfeasible, because it will generate enough technical problems for most plugins and maybe some extensions.

We need to liaison with someone on the development tea

[2017-08-07 15:31] brianpeat commented on #5
Here's an early (and rough) mock up. It was hacked together in Adobe Fireworks so we'll want to do something new in a better prototyping environment. The goal of this particular mock up was to try to remove the tabs and get the text edit box to ALWAYS be showing.

The tabbed side bar is certainly up for discussion as there are differing opinions on it. It could also be condensed by using icons for

[2017-08-08 00:30] jonrz opened #11 "Create internal survey #1"
Create an internal survey, to check what type of software the members use, and other basic workflow questions.

[2017-08-08 00:46] jonrz opened #12 "Create a set of Joomla UI elements for prototypes"
Create a set of PNG UI elements for prototype composition.

If the set is created as vector, also create an Adobe XD set (or send the vector file to someone who can do the XD).

[2017-08-08 01:54] jonrz commented on #6
On hold until further notice.

[2017-08-08 01:54] #6 closed

[2017-08-08 01:59] jonrz opened #13 "[Editor] Slim toolbar + Workspaces"
Check technical possibilities for implementation of workspaces on TinyMCE, defaulting to a trimmed down toolbar.

[2017-08-08 02:07] jonrz commented on #5
Let's use a trimmed down editor on all mockups. Refer to Issue #13.

[2017-08-08 02:14] jonrz commented on #5
We must prepare two or three layouts for tests and research. One is following the lines of what Brian Peat created, other is the alternative layout described below, and a third can have a strong *information disclosure* interface.

### Alternative layout 1
3 or 4 tabs with large labels, with icons, for better visibility.

On mobile, the tabs will be sticky on top.

Custom fields will add an extra

[2017-08-08 02:27] jonrz commented on #5
@brianpeat to make the case for a sidebar, we must provide a good mobile counterpart.
A final proposal will only be considered with 3 breakpoints, desktop wide, desktop-narrow/tablet, and mobile-portrait.

[2017-08-08 02:30] jonrz commented on #8
- [ ] How to submit a layout proposal
- [ ] Layout breakpoints needed on a valid proposal

[2017-08-08 06:29] ericfernance commented on #1
@jonrz - thanks.  Is this just intended for the first couple of introductory questions before moving into feature specific questions?

One of the ideas from earlier had been to maintain a pool of opted in survey respondents so we could quickly and easily crank out a new survey to answer specific questions.  Ignoring the other issues that occurred, the media manager survey would have been an exampl

[2017-08-08 06:53] jonrz commented on #1
The questions are for surveys for new people. We will always have surveys for fresh people.

But we intend to keep the existing people on file and send them specific surveys, though.

So, both.

_Sent from my Samsung SM-G930W8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-08 13:22] rgmears commented on #11
I think there needs to be a question regarding one's basic orientation:
rational or intuitive.
IE: Which approach best matches your approach to problem solving?
- [ ] rational
- [ ] intuitive

[2017-08-08 13:24] rgmears commented on #11
Under other skills "organization" or "information organizing" should be on the list.

[2017-08-08 13:24] rgmears commented on #11
Also under skills, "editing" should be on the list.

[2017-08-08 13:56] dgrammatiko commented on #4
As this is a crucial feature for the back end, we (the J4 front end team) together with the a11y team started on a clean base with some usable html markup: https://github.com/joomla/joomla-cms/compare/4.0-dev...dgt41:§4.0-dev-sidebar-menu?expand=1

The styling, structure etc is still up to the UX team to decide (either designs or actual code is fine for us).

Please also review this: https://githu

[2017-08-08 18:19] jonrz opened #14 "Update ux.joomla.org to working condition"
Thoroughly check Joomla install, surveys, forms, and other components, and update what need to be updated.

Add our mission statement to the frontpage.

[2017-08-09 14:26] jonrz commented on #4
Document updated. Sorry about the mistake.

[2017-08-09 14:32] jonrz commented on #4
@dgt41 Dimitri, thanks for the links.
What we really need, and was not addressed on previous attempts, is to reorganize the interface in a logical way. We may even end up using the current layout, albeit I'd prefer larger icons for top level menus, but the structure needs change.
I'm keeping to the notion that "advanced users will always adapt if the interface is well done", so no, we will not dum

[2017-08-09 15:21] rgmears opened #15 "Featured Categories"
Feature Categories is a third-party Module no longer maintained by its author. It should be added to the core files. An example is near the bottom of the page here: http://www.j-tutor.studiofive.biz/layout/category-news-modules

[2017-08-09 16:16] rgmears commented on #5
I think it's better to use the old layout for Title and Alias (IE: side by side) and the Publishing Options on the side. For me, at least, I want the editor pane to be as big as possible.

I like the image(s) in the sidebar.

And, depending on the wrapping DIVs, it would not be difficult to have the Publishing sidebar display above the editor and the Image pane below the editor on mobile devices.

[2017-08-09 16:44] rgmears commented on #1
I think there should be a question regarding which devices people use to work on their Joomla sites.

[2017-08-09 16:50] rgmears commented on #10
This assumes that everyone uses Intro (or teaser) Text. Is that so?

[2017-08-09 16:54] rgmears opened #16 "Social Media image."
At present Social Media uses the first image from a page to display in article previews. This isn't always appropriate. I use a CSS workaround to control which image is displayed when an article is shared.

Perhaps there is a way to add this level of control in Joomla's backend.

[2017-08-09 18:02] jonrz commented on #16
Usually SEO extensions will take care of that.
But I think this is an awesome improvement to the core articles.
Let's get someone from dev to answer that.

[2017-08-09 18:09] mbabker commented on #16
The problem is each platform has its own metadata criteria, and usually its own image sizing criteria.  So you'd end up with a social sharing tab just to configure all of that properly, even if it were only done for Facebook and Twitter.

[2017-08-09 18:12] jonrz commented on #16
Any hopes for an easy way, where Joomla will resize/crop to each media, and that's it?
I mean, if the user wants something advanced, a SEO or social media extension is in order.
We would just provide the very very basic stuff.

[2017-08-09 18:18] mbabker commented on #16
Joomla already has an image processing API, so programmatically we can do image manipulation pretty easily (but, it requires an optional PHP extension on the hosting server, and it's not one that we require for Joomla to run).

Like I said, to do it right, you really have to make it configurable on a per-platform basis.  The absolute most you could possibly get out of core is a single field that l

[2017-08-09 19:00] rgmears commented on #16
Generally, the first image to display on a page is the one FB or Twitter use. Although FB often provides a selection of images that the sharer can choose from.

Here is how I've done it on a page that doesn't have images: http://www.silverplains.ca/site-visit.html
HTML:
&lt;div class="insert_image not"&gt;
  &lt;img src="/images/site/yard_front_small.jpg" alt="yard front"&gt;
&lt;/div&gt;
CSS:
.it

[2017-08-09 19:05] rgmears commented on #16
The relevant meta tags are:

&lt;meta name="twitter:image" content="http://www.silverplains.ca/images/site/yard_front_small.jpg" /&gt;
&lt;meta property="og:image" content="http://www.silverplains.ca/images/site/yard_front_small.jpg"/&gt;

[2017-08-09 19:08] mbabker commented on #16
If we are only going to do Facebook and Twitter then sure.  Those may be the prevalent platforms today, but they aren't the only ones.  In general as a project we have to be careful about what external services we provide inbuilt integrations for in the core distribution.

[2017-08-09 19:13] rgmears commented on #16
Would other social platforms not also use the first image?

[2017-08-09 19:16] mbabker commented on #16
Possibly, depends how they're configured I guess (I know Pinterest share links have to be configured with the image URL as a query string variable if you're doing a share button, but I don't know if it has something to automatically grab an image if one isn't given), but it's still showing a bias toward select platforms by making those configurable directly within core.

Honestly I'm not opposed t

[2017-08-09 19:22] rgmears commented on #16
If, along with Intro Image and Article Image, there was a Social Image selection then, if there is a Social Image, the appropriate code could be inserted at the top of the article and the image itself set to NOT display with the core CSS.

[2017-08-09 19:23] rgmears commented on #16
Of course, as it is now, the Article Image would be the Social Image.

[2017-08-09 19:26] jonrz commented on #16
Ok, Robert, how about you do a quick research on other ways of informing a social media site about the page image?

See if there is an universal meta tag we can use for that, because I don't find a hidden div an acceptable solution for this. It would create problems with templates, because they use wildly varied structures.

_Sent from my Samsung SM-G930W8 using [FastHub](https://play.google.com/s

[2017-08-09 19:49] rgmears commented on #16
I use a plugin to generate OG tags: Perfect Open Graph Tags (https://extensions.joomla.org/extensions/extension/site-management/seo-a-metadata/perfect-open-graph-tags/). It has several options including choosing a default image. And it writes the OG Tags which Joomla core does not presently do. It selects the first image in the Content Component or uses the default if there is no image.

Apparentl

[2017-08-09 19:54] brianpeat commented on #16
The other issue we need to keep in mind is, sometimes facebook is just broken. There are times when I HAVE to use their debug tool to skim my page several times before it finds an image that's tagged correctly using an OG plugin. If we add this to the core, and it APPEARS to be buggy, we may get flack over something that we have no control over. Just a thought. :)

[2017-08-09 19:55] rgmears commented on #16
Sometimes, if cache is enabled, you have to clear the cache for the proper image to display when using the debug tool.

[2017-08-09 19:58] jonrz commented on #16
So, an og tag will cover all social networks?

_Sent from my Samsung SM-G930W8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-09 19:59] rgmears commented on #16
No. Twitter has its own tags which are called Twitter Card Tags. The Open Graph plugin writes both.

See "The relevant meta tags are" above.

[2017-08-09 20:08] mbabker commented on #16
If I'm not mistaken, Facebook designed Open Graph as a universal standard.  But, largely it seems only Facebook actually uses it.

[2017-08-09 20:19] jonrz commented on #16
I did some research. Facebook, Pinterest, and Google +use it. Twitter will read it, but it prefers its own cards. So OG is compatible with the biggest 4, plus og was designed as open, and any social media engine can adopt it.

There is a chance that, by supporting Open Graph, we may get flak by not supporting another formats (and I'm guessing some are open as well, just not relevant enough), even

[2017-08-09 20:20] rgmears commented on #16
This harkens to the days when the W3C got started establishing standards. FB, being proprietary, isn't likely to get much co-operation in setting a universal standard.

[2017-08-09 20:21] jonrz commented on #16
Many universal standards started from closed companies and proprietary formats.

Even Google search will read OG and add, for example, video thumbnails to search results.
It is up to each system/engine/media to add support for OG or not.

[2017-08-09 20:24] mbabker commented on #16
I'm not opposed to this in general, most builds I do have some kind of extension or support for social sharing and hooking up all the extras needed for that.  Just gotta make sure people are aware of concerns that may exist, and be aware that the project does have a market position that building in support for select third party services can have unintended consequences.

[2017-08-09 20:26] rgmears commented on #16
Well, if there was an option -- alongside of the other images -- when composing an article to select Social Image and have that code written into the HEAD section that would be great. A wrinkle, though, might be that if a Social Image is not selected then no image displays in a share. Conversely, if the OG tag comes from the first image on the page by default and from the Social Image (if there is

[2017-08-09 20:30] jonrz commented on #16
@mbabker That's my question: Is it worth it building this considering all those issues at hand?
There is a good chance it isn't, but considering that the free plugins will generate OGs from the main image, without giving the user a chance of selecting something else, it may even the scale.

@rgmears If we build this, not adding a social image will prevent the og from being generated by the system.

[2017-08-09 20:35] rgmears commented on #16
I agree. So, if we build this then it would have to function as an if "no Social Image" then use "first image" ... the way the plugin works.

[2017-08-09 22:21] jonrz commented on #16
Nope. If there is no social image, we won't create the meta tag, so the user have the ability to select something else at post time (the logo perhaps?).

This will be a content plugin, and will have to be enabled by the user/admin.
It should ship disabled, to avoid conflict if the user/admin wants to install other social ext.

When the new helper system is ready, we can have a post-install helper

[2017-08-09 22:41] rgmears commented on #16
I don't know the expression "over the fence". Searching it, the meaning seems to be something different than what you intend.

I don't know anything about the etiquette when it comes to interfacing with third-party extension developers.

[2017-08-09 22:49] jonrz commented on #16
I mean "on the fence", sorry. Undecided, not leaning one way or another.

[2017-08-09 22:55] rgmears commented on #16
That makes more sense.

I can see that this is a controversial suggestion.

[2017-08-09 23:05] jonrz commented on #16
Thanks.
I'm tagging this on hold until we get input from other in production.

[2017-08-09 23:23] jonrz commented on #4
@dgt41 Sorry I didn't answer your specific concern before.
Since this is mostly a reorganization, I believe most of the current markup can be used.
I feel there may be some extra markup needed for the sub-menus, though.

[2017-08-10 03:28] jayblaq commented on #4
We just introduced a customizable top menu and J4 we have a side menu.  Here comes my two cents: what if the side menu was pure Joomla and we added a custom top menu and give the super admin the ability to hide the side menu?  This could make things so easy for clients and admins!  Of course, the top menu is optional etc.

[2017-08-10 03:29] brianpeat commented on #4
Neat idea, but now you have some users getting used to the side menu, and some getting used to the top. Might get really confusing.

[2017-08-10 03:30] jayblaq commented on #4
Change is coming.. oh yeah winter too please!

On Wed, Aug 9, 2017 at 11:29 PM brianpeat <notifications@github.com> wrote:

--
Jason Nickerson

Monev Software LLC / JoomlaXTC.com
Open Source Florida / JoomlaDay Florida
TampaBay Joomla User Group
JED QC Tester
Joomla Site Showcase Team

[2017-08-10 03:38] jayblaq commented on #4
Please understand ,J4 needs to be very different and new.  We need a fresh start.  I am so used to the top menu, but welcome change.

[2017-08-10 03:40] brianpeat commented on #4
Oh I'm not arguing against the side menu, that battle has moved on. I'm saying if we let site builders configure too much it could turn into a big mess. Maybe not, but I just think if your product is so configurable is barely has a "native state" you could really end up confusing everyone.

[2017-08-10 03:46] jayblaq commented on #4
I was saying the top menu could be custom - this is why we all moved to CMSes in the first place to give a friendly admin for our clients etc- just my two cents.  I think the menu should be customizable and why not leave the side menu there but with an optional top menu and option to turn the side off only for developers?

[2017-08-10 03:57] jonrz commented on #4
@brianpeat Thank you.

I'm really glad that the really bad idea that is the"fully customizable admin menu" that was implemented
 on 3.7 takes so much work (because you have to create a new menu and start adding items from scratch) that just a few people would actually use it. I hope it never becomes easier. A fully customized menu totally annihilates the "Google, how do I do X thing on Joomla?" th

[2017-08-10 03:59] jonrz commented on #4
Also, I forgot to add, developers will build the site, but it's the users who will use it.
We should stop putting the developers first when thinking about user interface. There is Drupal for that...

[2017-08-10 06:45] jjnxpct commented on #16
I also started using the plugin 'Perfect Open Graph Tags' a while back. It seems to be working fine. When you take a look at all the option you can select in this plugin I wonder if this will be simple to implement. If we do I think it needs to be a plugin that can be configured by the user to fit their needs. And published by default.

Just wondering: Is this a topic for this UX team?

And who de

[2017-08-10 10:47] C-Lodder commented on #4
I really don't know why there's a discussion about a sidebar AND top menu. In J4, we've moved from the top menu to the sidebar menu as it's overall a better experience for mobiles and doesn't require the dirty hacks I had to add in J3 to add scrolling if there are too many items in the dropdown.

In J4, the top menu is no longer there and we have no plan to add it back in. Having 2 separate menus,

[2017-08-10 12:02] mbabker commented on #4
You need to take a look at 3.8 then.  It has support for menu presets which can be used as the admin menu module's display option, or when you go in to create a new admin menu it can be seeded from a preset (and we ship a preset with the existing menu structure).  So as much as it might be painful for documentation and support, fact is it's not a "super painful only super smart users can do this"

[2017-08-10 12:22] jonrz commented on #4
@C-Lodder Thanks.
@mbabker It was part rant, and I'll stop it now.

[2017-08-10 12:48] jonrz commented on #4
@mbabker OK, so now that there are presets, I feel we are even more free to do something different and break the norm.
Of course, it is not our intention to completely disorient current users, *au contraire*, I want current users to like it and use it, but so far I was trying to maintain the *maximum compatibility*, both in IA and markup.

Is there any existing system/option/switch/whatever that w

[2017-08-10 12:52] mbabker commented on #4
They would have to build a custom menu, and if you're really adament about it not being displayed in the sidebar with the rest of the menu (I honestly wouldn't suggest that just for the sake of UI consistency, if you really want that type of menu "container" just make it the first thing in the menu), add another menu module, and put it in position.  We also do zero user activity tracking, so we co

[2017-08-10 13:08] brianpeat commented on #4
I could totally see a first item in the side bar being a favorites menu. As far as putting it at the top, it really depends on what that bar does now as you collapse it. Even then, I'm okay with knowledgable admins modifying the side menu for their clients, but I'm not sure adding another menu to the top is that great an idea in the long run. Honestly what I'd rather see is an option to add shortc

[2017-08-10 13:10] C-Lodder commented on #4
@brianpeat - thats what quickicons are for

[2017-08-10 13:19] brianpeat commented on #4
Correct, but not every thing has a quickicon, so I install a third party module/component to let me make whatever I want. Is that changing in J4? My clients love the Asikart QuickIcons extension.

[2017-08-10 13:23] mbabker commented on #4
It's easy to whip up a plugin to make quick icons.  Don't know what that particular plugin does, but if it lets users make quick icons themselves, then even better.

[2017-08-10 13:23] C-Lodder commented on #4
Extensions can hook into the quickicons, but I did want users to be able to add their own via the module

[2017-08-10 13:29] brianpeat commented on #4
Yeah, it basically gives them a nice user interface to create an icon and upload or choose a fontawesome icon and then it displays them as large buttons in a module in the control panel. Here's a sample:

![screen shot 2017-08-10 at 8 29 32 am](https://user-images.githubusercontent.com/10532158/29172612-1022a7f0-7da6-11e7-8b49-97bff0207ebd.png)

[2017-08-10 13:30] jonrz commented on #4
@mbabker I must have expressed me wrong. I do want it as part of the menu, maybe as the first menu item or second (first being "dashboard"). What I would like to know is if there is an easier way than having a custom menu, and requiring users to work on the menu interface to set it up.

Maybe a switch somewhere with "add to my site" or "pin to my site", I'm just not sure where at this point.

@bri

[2017-08-10 13:33] brianpeat commented on #4
So you're thinking some way when you're on a menu item, to flag it as a favorite and have it show up in this shortcut/favorite menu, and possibly have it be more of a graphical popup menu instead of just a list? To me this still sounds like something a 3rd party could tackle, but I'm not against it.

[2017-08-10 13:33] dgrammatiko commented on #4
@jonrz for the love of god, please DONT!

[2017-08-10 13:34] jonrz commented on #4
@brianpeat Yes, that would be cool.

@dgt41 Dimitri, why not?

**Alternative:**
It just occurred me that a module with drag and drop would be a good way for the users to manage "my site".
By editing the module, the user would see a replica of the current menu to the side, and would be able to drag and drop menu items and sub-blocks into the "my site" area.
Internally, this would create menu aliase

[2017-08-10 13:35] dgrammatiko commented on #4
Simplicity is the ultimate design:
<img width="365" alt="screen shot 2017-08-10 at 16 35 08" src="https://user-images.githubusercontent.com/3889375/29172830-e972d654-7de9-11e7-9275-84ee466e05eb.png">

[2017-08-10 13:39] brianpeat commented on #4
Honestly I'm more for simplicity and less options, and opening it up so 3rd party extension makers can create cool things that don't have to be hacked in to work. That way we help the eco system and don't clutter up the core with fluff.

[2017-08-10 13:40] jonrz commented on #4
That kind of simplicity is not what you think. You will scare new users away.
Simplicity *with clarity, usability, and good looks* is the ultimate design.
Otherwise don't you think most web systems would be looking like an OS right now, instead of running desperately to the opposite direction?
In fact, even OSes are running in the opposite direction.
An OS is a whole different beast. The user won'

[2017-08-10 13:43] brianpeat commented on #4
Well really we're looking at two things:
#1 making the menu so easy to use that they find stuff and remember where it is
#2 making it appear like maybe we think the menu is too complicated, so we add this thing that allows users to bypass it and make their own.

While I love the idea of making your own menu easily, doesn't it sort of do what I mention in #2? I guess I'll have to think more on it o

[2017-08-10 13:46] jonrz commented on #4
Yes, \#1 will definitely make *my site* not needed.
I'm thinking of it more in terms of grouping tasks from the most used components, so muscle memory takes the user to the same place, instead of browsing around (even if the user knows exactly where to go).

[2017-08-10 13:47] C-Lodder commented on #4
I'm with @dgt41 on this. Turning it into some dashboard is NOT to way forward. Microsoft tried this with Windows 8.0 and it failed on every single level.

[2017-08-10 13:52] jonrz commented on #4
Maybe a middle ground then, let's see where it goes, and what users think of it at the surveys and usability tests.

But please, you can't honestly think **this** is simple for a new or basic user:
![image](https://user-images.githubusercontent.com/25874295/29173399-8ce9e68c-7db9-11e7-839b-a3cd90198e09.png)
This is not even simple for a starting developer.
For you it may be just convenient, becaus

[2017-08-10 13:53] C-Lodder commented on #4
@jonrz - It obviously is simple, considering the market share for MACs

[2017-08-10 13:58] brianpeat commented on #4
the reversed color and window next to it makes it a lot more busy that it normally looks to brand new users. Here's mine with nothing around it (and in the finder instead of the Mail app)

![mac](https://user-images.githubusercontent.com/10532158/29173803-079a7be0-7daa-11e7-964f-04f1acb26cd5.png)

[2017-08-10 14:01] brianpeat commented on #4
Before we get into adding nifty features, lets focus on restructuring the menu to see if we can just fix it by making the menu really easy to discover and remember things. Then maybe we can revisit some sort of favorites system.

The big reason I like the quickicons is the control panel tends to be tons of wasted space and it's nice and friendly for new users to come back to, but even then I don't

[2017-08-10 14:01] jonrz commented on #4
Lmftfy: It is simple *for an OS*. We're not building one.
Win10 start menu was a reference for a visually oriented mini-dashboard.
I want to skip the step of having to go back to the dash, and at the same time eliminate the "where the hell do I go to do what I need in Joomla" factor.
Have you ever sit, quietly, beside a new user using Joomla?

[2017-08-10 14:04] jonrz commented on #4
@brianpeat sane suggestion. Let's add "improve design" between restructuring and favorites.

[2017-08-10 14:07] C-Lodder commented on #4
@jonrz - This is why we'll have the User Guidance system in place, so that users know where to find essentials.

Yes, I have sat next to a complete newbie. I recommended she use Joomla for her site, she got a little assistance from me and Rowan, then was purposely thrown in the deep end (on her own), and she managed to figure out where to go to achieve what she wanted.

And if we went with @dgt41'

[2017-08-10 14:10] jonrz commented on #4
A *little* assistance goes a *long* way. Most users won't have that.

Making something visually appealing (and organized) breaks the "this is *effing* complex" first impression that Joomla (and OSes) currently give.

[2017-08-10 14:17] C-Lodder commented on #4
They will in J4!

[2017-08-10 14:26] jonrz commented on #4
I certainly [hope so](https://github.com/joomla/joomla-ux/issues/7).

I'm here to do my very best to reverse this trend:

![image](https://user-images.githubusercontent.com/25874295/29174951-336409f8-7dbe-11e7-9897-73643693fe33.png)

![image](https://user-images.githubusercontent.com/25874295/29175039-5e58bd34-7dbe-11e7-9967-1534973240b8.png)

![image](https://user-images.githubusercontent.com/258

[2017-08-10 14:33] brianpeat commented on #4
Part of our issue though, isn't just the interface, it's wooing back those who assume Joomla hasn't changed at all since the last time they used it. Pile that on with people who for the same reason hate Apple and love Android, they Hate Joomla and love WP even if they've never used it, so they crap on it publicly in comments. Or they read some hit piece from a WP lover who thinks Joomla is insecur

[2017-08-10 15:01] rgmears commented on #4
Something is left out of this discussion.

Regardless how it is customized, the Admin Menu is a bunch of code. Whether it displays horizontally or vertically it is in more or less the same position in the HTML markup of the appropriate file. As such it can be set to display horizontally or vertically with the corresponding CSS. A simple choice on the part of the end user.

[2017-08-10 15:02] rgmears commented on #4
@jonrz It's a little early to assign this to me as I still need to learn how to use GitHub. I am happy, though, to work on this.

[2017-08-10 15:05] C-Lodder commented on #4
@rgmears - Letting the user decide whether they want a sidebar or top menu?

[2017-08-10 15:15] brianpeat commented on #4
The issue is, with the side menu in view, we DO have stop in the top bar. What happens to the top bar stuff if you flip the menu to the top? Do we just do a double row with the menu on the lower row?

I actually DO like this idea, because if people HATE the side bar, they can flip back to a top menu and mostly get back something that TO THEM feels more like Joomla.

In the end, when we introduce a

[2017-08-10 15:18] mbabker commented on #4
OK, we need to be VERY careful here.  If we start shoving too many options in to the system, what are we really fixing or improving?  I honestly don't think we can make the admin template's primary navigation control an either/or thing, either we do sidebar or we do top menu and we go all in on one or the other.

[2017-08-10 15:22] C-Lodder commented on #4
@mbabker - yeah dw, letting the user decide whether or or not they want a sidebar or top menu ISN'T going to happen, simply because there isn't a top menu anymore. It was purposely moved away from, so we're not reintroducing it.

@brianpeat as it stands, the current top menu is shit.

At the end of the day, if we introduce somthing and have evidence to backup WHY it's better, be it shit code, poor

[2017-08-10 15:44] brianpeat commented on #4
@C-Lodder Oh I wasn't saying leave the menu as is, we're going to restructure the menu, but at least old schoolers can get a top menu. So yeah, that wasn't clear. If they want the old top menu, they can make a custom admin menu and put it all back on their own :)

But yes, I agree. Having an option for both is honestly not something we should dwell on. If we totally NAIL that side menu, I don't th

[2017-08-10 16:10] jonrz commented on #4
@C-Lodder Thanks.

@brianpeat That is my point: Someone may end up developing a module to put the menu back there.
But for core, the directions is the sidebar. We will do our best to make it so the vast majority of people like it though.

@rgmears Some decisions have been taken. I hope we can let this top menu thing go. Someone may build it, but it won't be the core.

We will use this issue for ge

[2017-08-10 16:14] jonrz opened #17 "[menu] Layout ideas"
Apart from the current J4 menu, and the flux menu proposal, we are looking for a third layout idea **for a sidebar menu**.

I'd like to make it clear: *There will be no top menu*. The new direction is the sidebar, to provide a seamless and concise experience across all screen sizes, and to provide higher flexibility for the menu system.

[2017-08-10 16:15] jonrz opened #18 "[menu] Information Architecture"
Reorganize the menu in a **logical** and **intuitive** way.

### Link: [Menu on an unordered list](https://drive.google.com/open?id=1qgGek1EbfoX-PqaSMO6i16SMZkX4waeA3qNBukoRblo)

Please check the current J4 (grab a nightly, do a git clone, or ask Tony Partridge on Glip for access to an existing install), and [this document](https://drive.google.com/open?id=1Z6wAhwW7RM_H5RX3Hg5_T0mpSXXdIL19eZH701R2

[2017-08-10 16:38] rgmears commented on #4
Being new here I do not know what decisions have been taken. I was asked to express my idea(s). That's what I've done.

What puzzles me is being mobile friendly is cited a couple of times as the reason for the side menu. Yet there are no statistics to indicate how many (if any) Joomla users build websites on their smartphones or tablets. And I have seen no examples of how the side menu will displa

[2017-08-10 16:57] jonrz commented on #4
@rgmears That is OK, and I thank you for your opinion. I just asked to drop the subject after letting you know a few times that it won't change.

Most people don't build websites, they use and manage websites.
Those people are our target audience.

I don't know how many people use it on mobile (I'll find out and post back), but considering the obviously huge convergence to mobile, it is bound to g

[2017-08-10 16:58] jonrz commented on #4
Please review this issue main text.
Issues #17 and #18 were added for sub-tasks.

[2017-08-10 17:17] C-Lodder commented on #4
@rgmears general stats show that more than 70% of traffic on the web is from mobile devices.

You do make a good point about what percentage aplies for Joomla. And my answer to what question is simple:

J3 as it stans isn't exactly very mobile friendly. Even when it comes to making small tweaks, I've never been one to use a mobile device and I can speak for several other users too. And thats what

[2017-08-10 17:21] brianpeat commented on #4
Right now I'd say not many use it on their phones, because well... a CMS is always cramped on a phone. I've fixed client sites on an iPad before though. But, in a pinch, I certainly have used my phone to fix an emergency on a client site. And 3.x is pretty clunky.

What we do NOT want is for J4 to be "Yeah, you can use it on your phone, but it's better on desktop" because that sends a message to p

[2017-08-10 17:26] jonrz commented on #4
@C-Lodder I'll use your comment as a reference. Thank you so much.

@brianpeat I'd love to know how many people **need** to use their phone but end up not using because the interface isn't good. I know that for the many times I needed to use the phone, I postponed the issue until I got back to my computer, even under pressure.

[2017-08-10 17:29] jonrz commented on #5
Refer to [this comment](https://github.com/joomla/joomla-ux/issues/4#issuecomment-321616710) from @C-Lodder on why it is important to have a consistent experience across devices, to make it *mobile friendly from the desktop*

[2017-08-10 19:10] rgmears commented on #18
Could you please present the existing menu structure as an unordered nested list.

[2017-08-11 04:46] jonrz commented on #18
As promised, the menu on an unordered list is there.

[2017-08-11 08:45] rgmears commented on #4
@C-Lodder website viewing and website building/content entry are two quite different things. I have a number of websites where mobile traffic ranges from 12 - 35%. I have one website devoted to showing people how to use Joomla. Mobile traffic to it is 1%.

[2017-08-11 08:47] rgmears commented on #18
So, how do we do edits?

[2017-08-11 08:51] rgmears commented on #5
And see this comment in response: https://github.com/joomla/joomla-ux/issues/4#issuecomment-321760078

[2017-08-11 08:57] C-Lodder commented on #4
I'm not referring to the building of a website. I'm talking about content entry and also messing around with settings, etc. Basically just using the admin interface in general.

[2017-08-11 09:31] rgmears commented on #4
The majority of visits to that website are to pages regarding content entry, not site set up.

[2017-08-11 09:54] rgmears commented on #11
Seems we need to add which device do you use to add content to your Joomla website?

[2017-08-11 10:24] C-Lodder commented on #4
What they're trying to achieve in the backend is absolutely irrelivant. The fact being is the mobile experience is crap, and we're trying to improve it. Not sure how else to explain it.

[2017-08-11 11:12] rgmears commented on #4
I'm not disagreeing with you @C-Lodder . My point is simply this:
On a widescreen monitor everything is readily available. As the screen gets smaller, where and how content is displayed changes. This is true of both the front end and the backend. While the "look" of both large and small sizes should be the same, it is not uncommon for the menu on a widescreen -- in the front end view -- to display

[2017-08-12 12:49] rgmears commented on #4
I understand the need to improve the mobile version of the Admin backend @C-Lodder . What I am getting at is the two variants are different. While the HTML is the same, where things display changes. And I don't think forcing the desktop display to emulate the mobile display is the best approach regardless how many people use mobile devices.
desktop
![layout_web](https://user-images.githubuserconte

[2017-08-13 17:35] jonrz opened #19 "Improve the save button"
Improve the form and function of the save button.
Refer to [this issue](https://github.com/joomla/joomla-cms/issues/14326#issuecomment-322042209) for discussion on the subject.

We are *not looking to change the names*.
The current names are clear, and all the Joomla user base is used to it.

Our focus is to improve form, so we can reduce the toolbar width, and keep all actions within just one cli

[2017-08-14 09:37] infograf768 commented on #19
We still don't get the Save and Close button which is really necessary.
Adding all these tiny icons in the button to click on to get whatever it is for is extremely confusing and hard to target imho.

[2017-08-14 13:50] jonrz commented on #19
Save and close is there, second on the sequence.
I'm thinking about function right now. Tiny is just a matter of design.
Form follows function, and all that...

[2017-08-14 14:47] brianpeat commented on #19
I was all for a drop menu, but this is an interesting way to get around that and combine buttons. I really REALLY hate that we have 2 or 3 buttons where one will do, so combining this way might help. I'd love to see how this can be applied to the other buttons (publish/unpublish, archive/unarchive).

[2017-08-14 14:50] brianpeat commented on #19
I wonder if it might be clearer if you add one more icon, but that one is the same as the main button, so the Save AND the check mark are both "save", then figure out a new icon for Save and close. That way it could be more easily applied to other buttons (publish would have 2 icons, one for publish that's part of the big button, and one for unpublish). Just brain storming, but seeing that Check m

[2017-08-14 18:03] jonrz commented on #19
Silly me. Sorry.
How about [this instead](http://demo.jux.space/save3)?
(added to the issue as the third example)

Paired actions can just become toggles, such as:
![image](https://user-images.githubusercontent.com/25874295/29284570-b31d2030-8101-11e7-9e5e-dcc362f80a31.png)

[2017-08-14 18:12] brianpeat commented on #19
That's an option, but what does it do if I select a list of items and some are already published but others aren't? I need to be able to publish OR unpublish, so it can't just be a flip state like a toggle switch.

As far as the 3rd option, I like it, but the drawback we have now is in its default state the button looks super wide for now reason (the reason becomes apparent only after you hover it

[2017-08-14 18:21] jonrz commented on #19
That is for within the article edit.
For the list, publish/unpublish and other pairs can be done in the same way we did example 3, just with the red (un-X) at the far right of each button.

[2017-08-14 18:29] brianpeat commented on #19
Ah you're right, your toggles threw me off. I suspect the toggles will be whatever the default bootstrap design is, unless WE get to customize that as part of UX. :)

[2017-08-14 19:04] jonrz commented on #19
Most likely default, unless horrible.

What do you think of [this](http://demo.jux.space/publish1) for the list?

[2017-08-14 19:06] brianpeat commented on #19
The problem with that one is, it doesn't (at first glance) look like it does the same thing UNTIL you finally hover the red X. It just confuses my brain seeing both of them next to each other. Not sure if there's a better way though.

[2017-08-14 19:07] brianpeat commented on #19
I almost want an open eye closed eye icon for that.

[2017-08-14 19:08] jonrz commented on #19
Feels too much like a toggle?
Force refresh to update. Did a color change.

[2017-08-14 19:12] brianpeat commented on #19
are you asking if I think yours feels too much like a toggle, or are you saying my idea does?

The issue with yours is my brain doesn't know what to do with a check and an x next to each other. It's just weird. The X just screams "this is going to do something bad if you check it" even though a single hover tells you exactly what it's going to do. Is there an open eye/closed eye icon set in there

[2017-08-14 19:19] brianpeat commented on #19
Another option is the do not enter icon instead of the X. I know the X is used currently in Joomla, but it's such a destructive connotation that I think it should be used only when you're closing or deleting something if at all possible.

[2017-08-15 00:58] jonrz commented on #19
@brianpeat I'm asking.

Agreed on the X, it feels like a close/delete, but we should look for alternatives to the "forbidden" icon.
Open/closed eyes are definitely an alternative. I'll build later today when I have time.
Should I move this to GitHub so people can act upon the (ugly, damn ugly) code?

As for icon library, we are using [font awesome](http://fontawesome.io/icons) as recommended by th

[2017-08-15 01:07] jonrz commented on #19
Added to the Tasks folder at [https://github.com/joomla/joomla-ux/tree/master/tasks/Task_0019](https://github.com/joomla/joomla-ux/tree/master/tasks/Task_0019)

Run by adding the index.html complete URL after [http://htmlpreview.github.io/?](http://htmlpreview.github.io/?).

Here is [save number 3](http://htmlpreview.github.io/?https://github.com/joomla/joomla-ux/blob/master/tasks/Task_0019/save_0

[2017-08-15 02:06] ericfernance commented on #19
Hey @jonrz - would this be the same desktop and mobile? I liked concept 2 with the actions at the top rather than the sides.

The concern I had was how compatible it would be with big fingers?

[2017-08-15 03:14] jonrz commented on #19
@digitalgarage Eric, ideally, yes.

Concept 2 would require re-styling of the remaining buttons, which is not hard, but also not very desirable.

If you see 3, the icon size is already a bit bigger, and it can be improved.
Touch detection zones on mobile have improved a bit lately, though.

Of course, new ideas are more than welcome at this point.
I'd like to start testing at most a week from now

[2017-08-15 06:31] ylahav commented on #19
I think that all these solutions / suggestion are problematic in touch screen and finger size...

[2017-08-16 12:24] dcrabill commented on #19
For publish / unpublish, I like like the open / closed eye idea. The [fa-eye-slash icon](http://fontawesome.io/icon/eye-slash/) would work pretty well for unpublish IMO.

I agree to with ylahav that the save button ideas could be an issue for mobile. Firstly, because on a desktop you get the benefit of hover to further understand what the icon is, which you don't get on mobile. Secondly, because a

[2017-08-16 12:38] brianpeat commented on #19
Another option is to flip to drop menus on mobile. So that same button turns into a tap to view list, tap to trigger action. Honestly I personally don't even mind a drop menu on the desktop, though I'd want it to trigger on hover not on a click, making it pretty much as fast as a row of buttons would be with even less "discover" time to choose the one you want.

[2017-08-16 12:48] brianpeat commented on #18
I created a J4 install that I plan to use to mess with the custom admin menu system in order to mock up some ideas. My thought is to make a few users/menus so we can each toss around some ideas and then have a discussion on why we changed what we changed and see if we can come to some sort of solution we're all okay with. None of us will be completely happy, so we all have to be okay with possibly

[2017-08-16 13:49] rgmears commented on #18
I agree @brianpeat there is much to do. I just took a second look at the standard Admin section and it is confusing. Nothing like a challenge.

[2017-08-18 00:10] jonrz commented on #18
Removed the name FLUX, because it's not that anymore.
The new name is Alternate 01. We should work on it, and if possible create an alternate 02 for comparison.

[2017-08-19 13:24] rgmears opened #20 "Draw user's attention to plugins that require tweaking."
For newbies in particular it is often not obvious that an associated plugin requires choices be made.

[2017-08-19 14:15] nibra commented on #20
How about opening the config view (ideally in an accordion) automatically when switching it on (and the plugin has configuration)? A cog (gear wheel) button could be used to collapse / expand the config view independant from the on/off state.

[2017-08-19 14:19] rgmears commented on #20
So the choices could be made in an accordion panel (or popup) instead of loading a full page, then saving it and closing it?

[2017-08-19 14:49] nibra commented on #20
Yes. That's the most intuitive way I can think of.

[2017-08-19 14:51] rgmears commented on #20
Sounds like a lot of work to implement, though.

[2017-08-19 14:57] nibra commented on #20
Should not be *that* hard. The times when frontend scripting was considered bad are gone.

[2017-08-19 15:03] HALVAM commented on #20
I have a little sugestion or idea based in some cases that I had encounter.  First of all I’m not sure if it can be implemented right because of the shot time we have but I can help us to solve this “Plugin Conundrum” in the future.

When of the common questions that my clients always ask me is where can they find a plugin they install?.

People expect to see a link to the plugin in the dashboard

[2017-08-19 15:14] HALVAM commented on #20
I have a little sugestion or idea based in some cases that I had encounter.  First of all I’m not sure if it can be implemented right because of the shot time we have but I can help us to solve this “Plugin Conundrum” in the future.

When of the common questions that my clients always ask me is where can they find a plugin they install?.

People expect to see a link to the plugin in the dashboard

[2017-08-19 15:20] rgmears commented on #20
@HALVAM could you please present this as simple lists (wireframe mode as it's called).
@nibra As @jonrz suggested being able to filter plugins might also work.

[2017-08-19 15:37] nibra commented on #20
If we're thinking outside the box here, I think it would be valuable to be able to filter plugins by events, they are responding to.

[2017-08-19 15:52] jonrz commented on #20
@rgmears Great idea, and thanks for opening the issue.

@nibra That is a nice one.

@HALVAM  While a new top level menu would draw some attention to it, it may make it easier for everyone to ask for yet another top level menu for other stuff. Next thing we know, we have everything there, modules, media manager, users... We don't want to end with a WordMess-like menu on our hands.

That being said,

[2017-08-19 15:54] nibra commented on #20
The detection of event handlers could be done automatically on installation and then added to the database.

[2017-08-19 16:09] jonrz commented on #20
So, should we only show in this menu plugins that have an editable option?
How about those that are installed but not automatically activated and require user activation but don't have any editable options?

The groupings would be by extension provider? Or by related component?

@HALVAM FYI, I'm thinking about bringing back a proposal for a two column menu I did at the beginning of the year, and y

[2017-08-19 16:13] rgmears commented on #20
I'm not sure that there are two different issues @jonrz. I'm not entirely sure what @HALVAM is presenting, though. I thought he was going to start his own topic. There are obviously different ways to draw users' attention to plugins.

[2017-08-19 16:34] nibra commented on #20
I'd keep the plugins in one list, like now, with 2 filtering dimensions:
- plugin group (what we have now)
- events, they are responding to.
Each entry should have a on/off switch.
Configurable plugins additionally should have a cog button to open/close the config view.

[2017-08-19 16:38] brianpeat commented on #20
If we're going to do a plugins menu like that, Not have it have several sub items:
#1 Configure - this lists all plugins that have any setting over and above unpublish/publish.
#2 Manage - this does what the current list does now, letting you pub and unpub (enable/disable)
#3 Install - this just takes you to the standard install screen but it's handy if the user is thinking based on menu and not b

[2017-08-19 17:03] HALVAM commented on #20
@rgmears Sorry about that, I didn't create another topic to avoid possible duplicate topics but now that there are different proposals. I'm going to create a new issue.

[2017-08-19 17:18] HALVAM opened #21 "Create a new top level menu to manage plugins."
I have a little sugestion or idea based in some cases that I had encounter.  First of all I’m not sure if it can be implemented right because of the shot time we have but I can help us to solve this “Plugin Conundrum” in the future.

When of the common questions that my clients always ask me is where can they find a plugin they install?.

People expect to see a link to the plugin in the dashboard

[2017-08-19 17:29] rgmears commented on #20
@HALVAM OK. It would help to just look at the text without the styling.

[2017-08-19 21:40] HALVAM opened #22 "The current icon of the button that shows or hides the admin menu can be confused as a back button."
The back icon is commonly used to indicate that you can go back to the previous page. Using this icon conbined with the position of the button outside the menu column could confuse users. Especially those that are using a smartphone to manage their website.

[2017-08-20 04:48] jonrz opened #23 "Improve the "separator" menu item type with switches for different layouts"
Taken from this issue: [https://github.com/joomla/joomla-cms/issues/16198](https://github.com/joomla/joomla-cms/issues/16198).

[2017-08-20 05:17] jonrz commented on #18
Good progress today in the menu organization, result of a 2 hours hangouts brainstorm session.
Check the sheet "proposal 01" in [this document](https://docs.google.com/spreadsheets/d/1qgGek1EbfoX-PqaSMO6i16SMZkX4waeA3qNBukoRblo).

### if you want to make changes, duplicate the sheet
Then rename it and do your changes.
Everyone is welcome to either try their own or comment on current proposals.
If

[2017-08-21 22:15] rgmears commented on #18
@jonrz I added my first draft -- RGMEARS 01 -- to the [document](https://docs.google.com/spreadsheets/d/1qgGek1EbfoX-PqaSMO6i16SMZkX4waeA3qNBukoRblo/edit#gid=767091223).

[2017-08-28 10:02] jonrz commented on #18
This architecture is settled, for now...
I'm closing this issue, and we'll add architecture changes at the design phase.

[2017-08-28 10:02] #18 closed

[2017-09-01 17:41] jonrz opened #24 "[Marketing] Branded Admin Exprerience"
To improve both corporate market penetration, and sense of ownership, Joomla need to offer a branded experience.

Both the client and the integrator will have visible space in the login and admin interface, with a visual balance of: Joomla 50%, Client 40%, and Integrator 10%.

[2017-09-01 17:45] brianteeman commented on #24
this already exists and has done for twelve years

[2017-09-01 18:06] jonrz commented on #24
As an incomplete tool, yes.
We want to give it a proper space, and rules, as well as proper visual balance.
Integrators won't be allowed to add logo, just text and a link (can be to their site, or support page).

Rules would be:
1. If a human changed the data, it can only be changed again by a human.
2. Templates (on install or update) can change integrator data if rule 1 allows.
3. No extension i

[2017-09-01 18:21] brianteeman commented on #24
As GPL software you have the freedom to change the code. This would also mean you can not put restrictions in place such as those you mention above. Any attempt to put restrictions with what you can do with joomla go against the license and the spirit of joomla.

[2017-09-01 18:27] mbabker commented on #24
The template can be opinionated on how it will support features (i.e. the monochrome thing), but in general the full API could not be feasibly written in a way to support those rules as defined.

Also remember that extensions have full access to the filesystem and database (even if they bypass the Joomla API and go straight for the PHP native stuff).  So anyone can do anything they want outside of

[2017-09-01 18:33] brianteeman commented on #24
there are so many things that other teams are waiting for answers for from the UX team can you please prioritise those before starting anything new. So many people's work is on hold until the UX team makes a decision on them its really a bottleneck

[2017-09-01 18:35] Sandra97 commented on #24
Yes, we can currently replace the backend logo and the login logo by anything you want.
Jonathan's idea is to keep Joomla! logo + add the option to display in a smaller size the logo of the client as well as name/link of the integrator. Which is for me a good idea.

[2017-09-01 18:37] brianpeat commented on #24
I personally think the only way we should be putting restrictions on extensions and templates is if they want to be in our directories. If someone doesn't care about our standards enough to be in the JED or new Template directory, then they likely won't care what rules we set up anyway. At least with the directories we can create a set of standards they must meet if they want to be in the director

[2017-09-01 19:09] rgmears commented on #24
Two things are being overlooked here.
1) Anyone can replace the Joomla logo image with their own by using the image name and uploading a different image.
2) The grey-scale idea (from Jonathan) can be controlled with CSS. Although, even that can be changed.

I agree with Brian T. This is a low priority item.

[2017-09-01 19:53] jonrz commented on #24
@brianpeat idea for restriction based on listing in the extensions directory covers everything.
@mbabker Can we do that?

@rgmears it's not grayscale, its monochrome over transparent bg, which is different. We can't do that with CSS and expect a good result.
As for anyone can replace the logo, nothing we can do about it.
We are providing a tool for them to change it easily and withing a reasonable

[2017-09-01 19:56] mbabker commented on #24
We cannot do something that mandates the ability to check if an extension is JED listed.  This would limit feature usage based on running your install on an intranet or with non-distributed custom extensions.

[2017-09-01 20:01] jonrz commented on #24
OK, I still think it is good to implement this system, even if restrictions are non enforceable.

@Sandra97 are you OK with this, knowing this can be hijacked by any template or pervasive extension?
Can we at least establish documented guidelines for template/extension providers (hoping they will follow, and knowing we can't do anything if they don't)?

[2017-09-01 20:07] Sandra97 commented on #24
Anyone is free to change the code. So no reason (and no way) to have "rules".
You can of course establish a document with guidelines, even if in the end everyone can do whatever they want.  ;)

[2017-09-01 20:23] brianpeat commented on #24
My suggestion wasn't to check if an extension is JED listed, it was to set rules that have to be agreed to and followed if your extension is to be listed in the JED. Then we post the standards so people know "these are the rules that are agreed to to be listed." If users don't care, that's fine, but if they do care, it at least shows we have some standards for the being listed in the JED. It's rea

[2017-09-03 12:43] rgmears commented on #17
Draft 3 (RGMEARS 03) presented in horizontal format (so the whole Menu can be seen without scrolling):
https://docs.google.com/spreadsheets/d/1qgGek1EbfoX-PqaSMO6i16SMZkX4waeA3qNBukoRblo/edit?pli=1#gid=805556008

[2017-10-05 20:01] CEWebDesign opened #25 "UX - Assign new item to an alias menu item without extra click "clear""
as described here #18058

[2018-06-13 14:44] armenos opened #26 "This is a test"
This is a test

[2018-06-13 14:44] #26 closed

[2019-10-17 16:22] #9 closed

[2021-06-03 10:03] kat0016-k commented on #21
Hey, I am new to open source programming, and I can do this work (ill try). but someone say me the approach to this'll try.

[2021-06-26 13:57] chmst commented on #21
@kat0016-k thank you very much for your interest in contributing to Joomla and accessibility.
You see that this is a issue from 2017. The whole backend has changed since then and I think we can close that.

If you want to contibute, it would be great if you go to could have a look here https://github.com/joomla/joomla-cms/issues

[2021-10-03 05:46] Palaksharma23 commented on #22
Hello I would love to work on this issue ,
Can you please assign it to me.

[2022-01-23 18:21] shagungarg0 commented on #25
Can i work on this issue?

[2022-01-23 18:22] shagungarg0 commented on #25
Can i work on this issue?

[2022-01-23 18:23] shagungarg0 commented on #22
Can i work on this issue?